<?xml version="1.0"?>
<configuration>
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecore Project Marketing" description="Project Marketing items">
                    <targetDataStore physicalRootPath="D:\SitecoreHelper-2019\src\Project\Website\serialization\Marketing" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <!-- Events -->
                        <include name="Sitecore.Marketing.Events" database="master" path="/sitecore/system/Marketing Control Panel/Events/MobileAppVisited">
                        </include>

                        <!-- Goals -->
                        <include name="Sitecore.Marketing.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/MobileAppVisitor">
                        </include>

                        <!-- Channels -->
                        <include name="Sitecore.Marketing.Channels" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Channel/Offline/Event/MobileApp">
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
