<?xml version="1.0"?>
<configuration>
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecore Project" description="Project template items">
                    <targetDataStore physicalRootPath="D:\SitecoreHelper-2019\src\Project\Website\serialization\Core" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        
                        <!-- Project -->
                        <include name="Sitecore.Project.Templates" database="master" path="/sitecore/templates/Project/Website">
                        </include>

                        <!-- Feature Templates -->
                        
                        <!-- As we don't have any Feature project for Destination, adding the feature template .yml files here  -->
                        <include name="Sitecore.Feature.Templates" database="master" path="/sitecore/templates/Feature/Travel Destinations">
                        </include>
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
