<?xml version="1.0"?>
<configuration>
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecore Project Content" description="Site Content Items">
                    <targetDataStore physicalRootPath="D:\SitecoreHelper-2019\src\Project\Website\serialization\Content" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <!-- Content -->
                        <include name="Sitecore.Project.Content" database="master" path="/sitecore/content/Dev">
                        </include>

                        <!-- Media Library -->
                        <include name="Sitecore.Project.Media" database="master" path="/sitecore/media library/Project/Website">
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
