<?xml version="1.0"?>
<configuration>
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Sitecore Foundation Tracker" description="Sitecore Foundation Tracker">
                    <targetDataStore physicalRootPath="D:\SitecoreHelper-2019\src\Foundation\Tracker\serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        
                        <!-- Settings -->
                        <include name="Sitecore.Tracker.Settings" database="master" path="/sitecore/system/Settings/Foundation/Tracker">
                        </include>

                        <!-- Templates -->
                        <include name="Sitecore.Tracker.Templates" database="master" path="/sitecore/templates/Foundation/Tracker">
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
